<!DOCTYPE html>
<html>
  <head>
    <title>googlecharts</title>

    <!-- dependent script -->
    <%= Daru::View.dependent_script(:googlecharts) %>
  </head>
  <body>
    <%= yield %>
  </body>
</html>
