

<!DOCTYPE html>
<html>
  <head>
    <title>Dummy</title>


  </head>
  <body>
    <p>

      go to <a href=" http://localhost:4567/nyaplot">  http://localhost:4567/nyaplot</a> , to see the Nyaplot examples
    </p>

    <p>

      go to <a href="http://localhost:4567/highcharts">http://localhost:4567/highcharts</a> , to see the highcharts examples
    </p>

    <p>

      go to <a href="http://localhost:4567/googlecharts">http://localhost:4567/googlecharts</a> , to see the highcharts examples
    </p>
  </body>
</html>