<html lang='en'>
	<head>
	    <!-- TODO: extend and display with table and chart both in html table -->
		<title>Chart_<%= id %>_<%= @chart_type%></title>
		<%= initial_script %>
	</head>
	<body>
		<%= chart_script %>
	</body>
</html>
