<html lang='en'>
  <head>
    <!-- TODO: extend and display with table and chart both in html table -->
    <title>Multiple Charts</title>
    <%= initial_script %>
  </head>
  <body>
    <%= charts_script %>
  </body>
</html>
